@{
	Layout="~/Layout/LayoutMidia.cshtml";

	int conta = 1;
	List<Referencia> frios = new List<Referencia>();
	Referencia r = new Referencia();
	r.Descricao = "TESTE 1";
	r.PrecoNormal = 2.00;
	r.PrecoOferta = 0.00;
	frios.Add(r);
	r = new Referencia();
	r.Descricao = "TESTE 2";
	r.PrecoNormal = 4.50;
	r.PrecoOferta = 0.00;
	frios.Add(r);r = new Referencia();
	r.Descricao = "TESTE 3";
	r.PrecoNormal = 2.00;
	r.PrecoOferta = 1.00;
	frios.Add(r);r = new Referencia();
	r.Descricao = "TESTE 4";
	r.PrecoNormal = 5.00;
	r.PrecoOferta = 3.50;
	frios.Add(r);r = new Referencia();
	r.Descricao = "TESTE 5";
	r.PrecoNormal = 6.80;
	r.PrecoOferta = 0.00;
	frios.Add(r);
}

<span class="container-fluid" style="position: fixed; z-index: -100;">
<img src="@Href("~/Contents/imagens/Bebidas.JPG")" alt="logo" width="@Dao.largura" HEIGHT="@Dao.altura" rel="prefetch" class="imagemD"/>
</span>

<div>
<table class="table-mit">
	<tr>
		<th class="titulo inverte">
			DESCRIÇÃO
		</th>	
		<th class="titulo inverte" colspan="2">
			VALOR
		</th>	
	</tr>

	@foreach(Referencia refe in frios)
	{
		<tr style=" @if(conta%2==0) { <text> background-color:#F5DEB3; </text> } else { <text> background-color:White; </text> } ">
			<td class="descricao">
				@Dao.Truncate(refe.Descricao,28)
			</td>
			@if(refe.PrecoOferta>0){
				<td class="descricao">R$</td>
				<td class="preco corOferta">
					@refe.PrecoOferta.ToString("n2")
				</td>				
			}
			else if(refe.PrecoNormal>0)
			{
				<td class="descricao">R$</td>
				<td class="preco corNormal">
					@refe.PrecoNormal.ToString("n2")
				</td>							
			}
		</tr>
		conta+=1;
	}
</table>
</div>




