@{

    Layout="~/Layout.cshtml";

    Teste.PesquisaImagemComIDErrado();
    <p>Teste.PesquisaImagemComIDErrado()</p>
    <p>Acerto: @Teste.NumeroAcertos</p>
    <p>Erros: @Teste.NumeroErros</p>
    <p>Teste: @Teste.TesteOk</p>    
    <p style="color: Red">@Teste.debug</p>
<hr>
    Teste.PesquisaImagemComIDCerto();
    <p>Teste.PesquisaImagemComIDCerto()</p>
    <p>Acerto: @Teste.NumeroAcertos</p>
    <p>Erros: @Teste.NumeroErros</p>
    <p>Teste: @Teste.TesteOk</p>    
    <p style="color: Red">@Teste.debug</p>
<hr>
    Teste.PesquisaListaImagens();
    <p>Teste.PesquisaListaImagens()</p>
    <p>Acerto: @Teste.NumeroAcertos</p>
    <p>Erros: @Teste.NumeroErros</p>
    <p>Teste: @Teste.TesteOk</p>    
    <p style="color: Red">@Teste.debug</p>
<hr>
    Teste.PesquisaListaNenhumImagens();
    <p>Teste.PesquisaListaNenhumImagens()</p>
    <p>Acerto: @Teste.NumeroAcertos</p>
    <p>Erros: @Teste.NumeroErros</p>
    <p>Teste: @Teste.TesteOk</p>    
    <p style="color: Red">@Teste.debug</p>
<hr>
    Teste.SetaImagemInvalido();
    <p>Teste.SetaImagemInvalido()</p>
    <p>Acerto: @Teste.NumeroAcertos</p>
    <p>Erros: @Teste.NumeroErros</p>
    <p>Teste: @Teste.TesteOk</p>    
    <p style="color: Red">@Teste.debug</p>
<hr>
    Teste.SetaImagemValido();
    <p>Teste.SetaImagemValido()</p>
    <p>Acerto: @Teste.NumeroAcertos</p>
    <p>Erros: @Teste.NumeroErros</p>
    <p>Teste: @Teste.TesteOk</p>    
    <p style="color: Red">@Teste.debug</p>
<hr>
    Teste.SetaImagemJaSalvo();
    <p>Teste.SetaImagemJaSalvo()</p>
    <p>Acerto: @Teste.NumeroAcertos</p>
    <p>Erros: @Teste.NumeroErros</p>
    <p>Teste: @Teste.TesteOk</p>    
    <p style="color: Red">@Teste.debug</p>
<hr>
    Teste.AtualizaImagemInvalido();
    <p>Teste.AtualizaImagemInvalido()</p>
    <p>Acerto: @Teste.NumeroAcertos</p>
    <p>Erros: @Teste.NumeroErros</p>
    <p>Teste: @Teste.TesteOk</p>    
    <p style="color: Red">@Teste.debug</p>
<hr>
    Teste.AtualizaImagemValido();
    <p>Teste.AtualizaImagemValido()</p>
    <p>Acerto: @Teste.NumeroAcertos</p>
    <p>Erros: @Teste.NumeroErros</p>
    <p>Teste: @Teste.TesteOk</p>    
    <p style="color: Red">@Teste.debug</p>
<hr>
    Teste.AtualizaImagemInexistente();
    <p>Teste.AtualizaImagemInexistente()</p>
    <p>Acerto: @Teste.NumeroAcertos</p>
    <p>Erros: @Teste.NumeroErros</p>
    <p>Teste: @Teste.TesteOk</p>    
    <p style="color: Red">@Teste.debug</p>
<hr>
    Teste.ApagaImagemInexistente();
    <p>Teste.ApagaImagemInexistente()</p>
    <p>Acerto: @Teste.NumeroAcertos</p>
    <p>Erros: @Teste.NumeroErros</p>
    <p>Teste: @Teste.TesteOk</p>    
    <p style="color: Red">@Teste.debug</p>
<hr>
    Teste.ApagaImagemExistente();
    <p>Teste.ApagaImagemExistente()</p>
    <p>Acerto: @Teste.NumeroAcertos</p>
    <p>Erros: @Teste.NumeroErros</p>
    <p>Teste: @Teste.TesteOk</p>    
    <p style="color: Red">@Teste.debug</p>
<hr>
    Teste.ApagaImagemComProgramacao();
    <p>Teste.ApagaImagemComProgramacao()</p>
    <p>Acerto: @Teste.NumeroAcertos</p>
    <p>Erros: @Teste.NumeroErros</p>
    <p>Teste: @Teste.TesteOk</p>    
    <p style="color: Red">@Teste.debug</p>
<hr>
    Teste.ApagaImagemSemProgramacao();
    <p>Teste.ApagaImagemSemProgramacao()</p>
    <p>Acerto: @Teste.NumeroAcertos</p>
    <p>Erros: @Teste.NumeroErros</p>
    <p>Teste: @Teste.TesteOk</p>    
    <p style="color: Red">@Teste.debug</p>
}

