@{
    Layout="~/Layout.cshtml";
}

    @{Teste.ApagaEmpresaInexistente();}
    <p>Teste.ApagaEmpresaInexistente()</p>
    <p>Acerto: @Teste.NumeroAcertos</p>
    <p>Erros: @Teste.NumeroErros</p>
    <p>Teste: @Teste.TesteOk</p>    
    <p style="color: Red">@Teste.debug</p>
<hr>
    @{Teste.ApagaEmpresaExistente();}
    <p>Teste.ApagaEmpresaExistente()</p>
    <p>Acerto: @Teste.NumeroAcertos</p>
    <p>Erros: @Teste.NumeroErros</p>
    <p>Teste: @Teste.TesteOk</p>    
    <p style="color: Red">@Teste.debug</p>
<hr>
    @{Teste.PesquisaEmpresaComCNPJErrado();}
    <p>Teste.PesquisaEmpresaComCNPJErrado()</p>
    <p>Acerto: @Teste.NumeroAcertos</p>
    <p>Erros: @Teste.NumeroErros</p>
    <p>Teste: @Teste.TesteOk</p>    
    <p style="color: Red">@Teste.debug</p>
<hr>
    @{Teste.PesquisaEmpresaComCNPJCerto();}
    <p>Teste.PesquisaEmpresaComCNPJCerto()</p>
    <p>Acerto: @Teste.NumeroAcertos</p>
    <p>Erros: @Teste.NumeroErros</p>
    <p>Teste: @Teste.TesteOk</p>    
    <p style="color: Red">@Teste.debug</p>
<hr>
    @{Teste.PesquisaListaEmpresas();}
    <p>Teste.PesquisaListaEmpresas()</p>
    <p>Acerto: @Teste.NumeroAcertos</p>
    <p>Erros: @Teste.NumeroErros</p>
    <p>Teste: @Teste.TesteOk</p>    
    <p style="color: Red">@Teste.debug</p>
<hr>
    @{Teste.PesquisaListaNenhumaEmpresas();}
    <p>Teste.PesquisaListaNenhumaEmpresas()</p>
    <p>Acerto: @Teste.NumeroAcertos</p>
    <p>Erros: @Teste.NumeroErros</p>
    <p>Teste: @Teste.TesteOk</p>    
    <p style="color: Red">@Teste.debug</p>
<hr>
    @{Teste.SetaEmpresaInvalido();}
    <p>Teste.SetaEmpresaInvalido()</p>
    <p>Acerto: @Teste.NumeroAcertos</p>
    <p>Erros: @Teste.NumeroErros</p>
    <p>Teste: @Teste.TesteOk</p>    
    <p style="color: Red">@Teste.debug</p>
<hr>
    @{Teste.SetaEmpresaValido();}
    <p>Teste.SetaEmpresaValido()</p>
    <p>Acerto: @Teste.NumeroAcertos</p>
    <p>Erros: @Teste.NumeroErros</p>
    <p>Teste: @Teste.TesteOk</p>    
    <p style="color: Red">@Teste.debug</p>
<hr>
    @{Teste.SetaEmpresaJaSalva();}
    <p>Teste.SetaEmpresaJaSalva()</p>
    <p>Acerto: @Teste.NumeroAcertos</p>
    <p>Erros: @Teste.NumeroErros</p>
    <p>Teste: @Teste.TesteOk</p>    
    <p style="color: Red">@Teste.debug</p>
<hr>
    @{Teste.AtualizaEmpresaInvalida();}
    <p>Teste.AtualizaEmpresaInvalida()</p>
    <p>Acerto: @Teste.NumeroAcertos</p>
    <p>Erros: @Teste.NumeroErros</p>
    <p>Teste: @Teste.TesteOk</p>    
    <p style="color: Red">@Teste.debug</p>
<hr>
    @{Teste.AtualizaEmpresaValida();}
    <p>Teste.AtualizaEmpresaValida()</p>
    <p>Acerto: @Teste.NumeroAcertos</p>
    <p>Erros: @Teste.NumeroErros</p>
    <p>Teste: @Teste.TesteOk</p>    
    <p style="color: Red">@Teste.debug</p>
<hr>
    @{Teste.AtualizaEmpresaInexistente();}
    <p>Teste.AtualizaEmpresaInexistente()</p>
    <p>Acerto: @Teste.NumeroAcertos</p>
    <p>Erros: @Teste.NumeroErros</p>
    <p>Teste: @Teste.TesteOk</p>    
    <p style="color: Red">@Teste.debug</p>
<hr>
