@{
    Layout="~/Layout.cshtml";

}

    @{Teste.PesquisaProgramacaoComIDErrado();}
    <p>Teste.PesquisaProgramacaoComIDErrado()</p>
    <p>Acerto: @Teste.NumeroAcertos</p>
    <p>Erros: @Teste.NumeroErros</p>
    <p>Teste: @Teste.TesteOk</p>    
    <p style="color: Red">@Teste.debug</p>
<hr>
    @{Teste.PesquisaProgramacaoComIDCerto();}
    <p>Teste.PesquisaProgramacaoComIDCerto()</p>
    <p>Acerto: @Teste.NumeroAcertos</p>
    <p>Erros: @Teste.NumeroErros</p>
    <p>Teste: @Teste.TesteOk</p>    
    <p style="color: Red">@Teste.debug</p>
<hr>
    @{Teste.PesquisaListaProgramacao();}
    <p>Teste.PesquisaListaProgramacao()</p>
    <p>Acerto: @Teste.NumeroAcertos</p>
    <p>Erros: @Teste.NumeroErros</p>
    <p>Teste: @Teste.TesteOk</p>    
    <p style="color: Red">@Teste.debug</p>
<hr>
    @{Teste.PesquisaListaNenhumProgramacao();}
    <p>Teste.PesquisaListaNenhumProgramacao()</p>
    <p>Acerto: @Teste.NumeroAcertos</p>
    <p>Erros: @Teste.NumeroErros</p>
    <p>Teste: @Teste.TesteOk</p>    
    <p style="color: Red">@Teste.debug</p>
<hr>
    @{Teste.SetaProgramacaoInvalido();}
    <p>Teste.SetaProgramacaoInvalido()</p>
    <p>Acerto: @Teste.NumeroAcertos</p>
    <p>Erros: @Teste.NumeroErros</p>
    <p>Teste: @Teste.TesteOk</p>    
    <p style="color: Red">@Teste.debug</p>
<hr>
    @{Teste.SetaProgramacaoValido();}
    <p>Teste.SetaProgramacaoValido()</p>
    <p>Acerto: @Teste.NumeroAcertos</p>
    <p>Erros: @Teste.NumeroErros</p>
    <p>Teste: @Teste.TesteOk</p>    
    <p style="color: Red">@Teste.debug</p>
<hr>
    @{Teste.SetaProgramacaoJaSalvo();}
    <p>Teste.SetaProgramacaoJaSalvo()</p>
    <p>Acerto: @Teste.NumeroAcertos</p>
    <p>Erros: @Teste.NumeroErros</p>
    <p>Teste: @Teste.TesteOk</p>    
    <p style="color: Red">@Teste.debug</p>
<hr>
    @{Teste.AtualizaProgramacaoInvalido();}
    <p>Teste.AtualizaProgramacaoInvalido()</p>
    <p>Acerto: @Teste.NumeroAcertos</p>
    <p>Erros: @Teste.NumeroErros</p>
    <p>Teste: @Teste.TesteOk</p>    
    <p style="color: Red">@Teste.debug</p>
<hr>
    @{Teste.AtualizaProgramacaoValido();}
    <p>Teste.AtualizaProgramacaoValido()</p>
    <p>Acerto: @Teste.NumeroAcertos</p>
    <p>Erros: @Teste.NumeroErros</p>
    <p>Teste: @Teste.TesteOk</p>    
    <p style="color: Red">@Teste.debug</p>
<hr>
    @{Teste.AtualizaProgramacaoInexistente();}
    <p>Teste.AtualizaProgramacaoInexistente()</p>
    <p>Acerto: @Teste.NumeroAcertos</p>
    <p>Erros: @Teste.NumeroErros</p>
    <p>Teste: @Teste.TesteOk</p>    
    <p style="color: Red">@Teste.debug</p>
<hr>
    @{Teste.ApagaProgramacaoInexistente();}
    <p>Teste.ApagaProgramacaoInexistente()</p>
    <p>Acerto: @Teste.NumeroAcertos</p>
    <p>Erros: @Teste.NumeroErros</p>
    <p>Teste: @Teste.TesteOk</p>    
    <p style="color: Red">@Teste.debug</p>
<hr>
    @{Teste.ApagaProgramacaoExistente();}
    <p>Teste.ApagaProgramacaoExistente()</p>
    <p>Acerto: @Teste.NumeroAcertos</p>
    <p>Erros: @Teste.NumeroErros</p>
    <p>Teste: @Teste.TesteOk</p>    
    <p style="color: Red">@Teste.debug</p>
<hr>
    @{Teste.ListaProgramacaoEItensSemProgramacao();}
    <p>Teste.ListaProgramacaoEItensSemProgramacao()</p>
    <p>Acerto: @Teste.NumeroAcertos</p>
    <p>Erros: @Teste.NumeroErros</p>
    <p>Teste: @Teste.TesteOk</p>    
    <p style="color: Red">@Teste.debug</p>
<hr>
    @{Teste.ListaProgramacaoEItensComProgramacaoInvalida();}
    <p>Teste.ListaProgramacaoEItensComProgramacaoInvalida()</p>
    <p>Acerto: @Teste.NumeroAcertos</p>
    <p>Erros: @Teste.NumeroErros</p>
    <p>Teste: @Teste.TesteOk</p>    
    <p style="color: Red">@Teste.debug</p>
<hr>
    @{Teste.ListaProgramacaoEItensComProgramacaoSemItens();}
    <p>Teste.ListaProgramacaoEItensComProgramacaoSemItens()</p>
    <p>Acerto: @Teste.NumeroAcertos</p>
    <p>Erros: @Teste.NumeroErros</p>
    <p>Teste: @Teste.TesteOk</p>    
    <p style="color: Red">@Teste.debug</p>
<hr>

    @{Teste.ListaItensPorProgramacaoProgramacaoComItens();}
    <p>Teste.ListaItensPorProgramacaoProgramacaoComItens()</p>
    <p>Acerto: @Teste.NumeroAcertos</p>
    <p>Erros: @Teste.NumeroErros</p>
    <p>Teste: @Teste.TesteOk</p>    
    <p style="color: Red">@Teste.debug</p>

