@{
    Layout="~/Layout.cshtml";

    Teste.PesquisaItensTabelasComIDErrado();
    <p>Teste.PesquisaItensTabelasComIDErrado()</p>
    <p>Acerto: @Teste.NumeroAcertos</p>
    <p>Erros: @Teste.NumeroErros</p>
    <p>Teste: @Teste.TesteOk</p>    
    <p style="color: Red">@Teste.debug</p>
<hr>
    Teste.PesquisaItensTabelasComIDCerto();
    <p>Teste.PesquisaItensTabelasComIDCerto()</p>
    <p>Acerto: @Teste.NumeroAcertos</p>
    <p>Erros: @Teste.NumeroErros</p>
    <p>Teste: @Teste.TesteOk</p>    
    <p style="color: Red">@Teste.debug</p>
<hr>
    Teste.PesquisaListaItensTabelas();
    <p>Teste.PesquisaListaItensTabelas()</p>
    <p>Acerto: @Teste.NumeroAcertos</p>
    <p>Erros: @Teste.NumeroErros</p>
    <p>Teste: @Teste.TesteOk</p>    
    <p style="color: Red">@Teste.debug</p>
<hr>
    Teste.PesquisaListaNenhumItensTabelas();
    <p>Teste.PesquisaListaNenhumItensTabelas()</p>
    <p>Acerto: @Teste.NumeroAcertos</p>
    <p>Erros: @Teste.NumeroErros</p>
    <p>Teste: @Teste.TesteOk</p>    
    <p style="color: Red">@Teste.debug</p>
<hr>
    Teste.SetaItensTabelasInvalido();
    <p>Teste.SetaItensTabelasInvalido()</p>
    <p>Acerto: @Teste.NumeroAcertos</p>
    <p>Erros: @Teste.NumeroErros</p>
    <p>Teste: @Teste.TesteOk</p>    
    <p style="color: Red">@Teste.debug</p>
<hr>
    Teste.SetaItensTabelasValido();
    <p>Teste.SetaItensTabelasValido()</p>
    <p>Acerto: @Teste.NumeroAcertos</p>
    <p>Erros: @Teste.NumeroErros</p>
    <p>Teste: @Teste.TesteOk</p>    
    <p style="color: Red">@Teste.debug</p>
<hr>
    Teste.SetaItensTabelasJaSalvo();
    <p>Teste.SetaItensTabelasJaSalvo()</p>
    <p>Acerto: @Teste.NumeroAcertos</p>
    <p>Erros: @Teste.NumeroErros</p>
    <p>Teste: @Teste.TesteOk</p>    
    <p style="color: Red">@Teste.debug</p>
<hr>
    Teste.AtualizaItensTabelasInvalido();
    <p>Teste.AtualizaItensTabelasInvalido()</p>
    <p>Acerto: @Teste.NumeroAcertos</p>
    <p>Erros: @Teste.NumeroErros</p>
    <p>Teste: @Teste.TesteOk</p>    
    <p style="color: Red">@Teste.debug</p>
<hr>
    Teste.AtualizaItensTabelasValido();
    <p>Teste.AtualizaItensTabelasValido()</p>
    <p>Acerto: @Teste.NumeroAcertos</p>
    <p>Erros: @Teste.NumeroErros</p>
    <p>Teste: @Teste.TesteOk</p>    
    <p style="color: Red">@Teste.debug</p>
<hr>
    Teste.AtualizaItensTabelasInexistente();
    <p>Teste.AtualizaItensTabelasInexistente()</p>
    <p>Acerto: @Teste.NumeroAcertos</p>
    <p>Erros: @Teste.NumeroErros</p>
    <p>Teste: @Teste.TesteOk</p>    
    <p style="color: Red">@Teste.debug</p>
<hr>
    Teste.ApagaItensTabelasInexistente();
    <p>Teste.ApagaItensTabelasInexistente()</p>
    <p>Acerto: @Teste.NumeroAcertos</p>
    <p>Erros: @Teste.NumeroErros</p>
    <p>Teste: @Teste.TesteOk</p>    
    <p style="color: Red">@Teste.debug</p>
<hr>
    Teste.ApagaItensTabelasExistente();
    <p>Teste.ApagaItensTabelasExistente()</p>
    <p>Acerto: @Teste.NumeroAcertos</p>
    <p>Erros: @Teste.NumeroErros</p>
    <p>Teste: @Teste.TesteOk</p>    
    <p style="color: Red">@Teste.debug</p>
<hr>
    Teste.ListaItensPorTabelaTabelaInvalida();
    <p>Teste.ListaItensPorTabelaTabelaInvalida()</p>
    <p>Acerto: @Teste.NumeroAcertos</p>
    <p>Erros: @Teste.NumeroErros</p>
    <p>Teste: @Teste.TesteOk</p>    
    <p style="color: Red">@Teste.debug</p>
<hr>
    Teste.ListaItensPorTabelaTabelaSemItens();
    <p>Teste.ListaItensPorTabelaTabelaSemItens()</p>
    <p>Acerto: @Teste.NumeroAcertos</p>
    <p>Erros: @Teste.NumeroErros</p>
    <p>Teste: @Teste.TesteOk</p>    
    <p style="color: Red">@Teste.debug</p>
<hr>
    Teste.ListaItensPorTabelaTabelaComItens();
    <p>Teste.ListaItensPorTabelaTabelaComItens()</p>
    <p>Acerto: @Teste.NumeroAcertos</p>
    <p>Erros: @Teste.NumeroErros</p>
    <p>Teste: @Teste.TesteOk</p>    
    <p style="color: Red">@Teste.debug</p>

}

