@{

    Layout="~/Layout.cshtml";

    TesteUsuario.TesteCriptografar();
    <p>TesteUsuario.TesteCriptografar() </p>
    <p>Acerto: @Teste.NumeroAcertos </p>
    <p>Erros: @Teste.NumeroErros </p>
    <p>Teste: @Teste.TesteOk </p>    
    <p style="color: Red">@Teste.debug </p>
<hr>

    TesteUsuario.TesteSeed();
    <p>TesteUsuario.TesteSeed() </p>
    <p>Acerto: @Teste.NumeroAcertos </p>
    <p>Erros: @Teste.NumeroErros </p>
    <p>Teste: @Teste.TesteOk </p>    
    <p style="color: Red"> @Teste.debug </p>
<hr>
    TesteUsuario.TesteChave();
    <p>TesteUsuario.TesteChave() </p>
    <p>Acerto: @Teste.NumeroAcertos </p>
    <p>Erros: @Teste.NumeroErros </p>
    <p>Teste: @Teste.TesteOk </p>    
    <p style="color: Red"> @Teste.debug </p>
<hr>
    TesteUsuario.TesteExisteNome();
    <p>TesteUsuario.TesteExisteNome() </p>
    <p>Acerto: @Teste.NumeroAcertos </p>
    <p>Erros: @Teste.NumeroErros </p>
    <p>Teste: @Teste.TesteOk </p>    
    <p style="color: Red"> @Teste.debug </p>
<hr>
    TesteUsuario.TesteExisteEmail();
    <p>TesteUsuario.TesteExisteEmail() </p>
    <p>Acerto: @Teste.NumeroAcertos </p>
    <p>Erros: @Teste.NumeroErros </p>
    <p>Teste: @Teste.TesteOk </p>    
    <p style="color: Red"> @Teste.debug </p>
<hr>
    TesteUsuario.TesteExisteSenha();
    <p>TesteUsuario.TesteExisteSenha() </p>
    <p>Acerto: @Teste.NumeroAcertos </p>
    <p>Erros: @Teste.NumeroErros </p>
    <p>Teste: @Teste.TesteOk </p>    
    <p style="color: Red"> @Teste.debug </p>
<hr>
    TesteUsuario.TesteExisteEmailUnico();
    <p>TesteUsuario.TesteExisteEmailUnico() </p>
    <p>Acerto: @Teste.NumeroAcertos </p>    
    <p>Erros: @Teste.NumeroErros </p>
    <p>Teste: @Teste.TesteOk </p>    
    <p style="color: Red"> @Teste.debug </p>
<hr>
    TesteUsuario.TesteListaUsuarios();
    <p>TesteUsuario.TesteListaUsuarios() </p>
    <p>Acerto: @Teste.NumeroAcertos </p>    
    <p>Erros: @Teste.NumeroErros </p>
    <p>Teste: @Teste.TesteOk </p>    
    <p style="color: Red"> @Teste.debug </p>
<hr>
    TesteUsuario.TesteAtualizaUsuarioEmailVazioENomeVazio();
    <p>TesteUsuario.TesteAtualizaUsuarioEmailVazioENomeVazio() </p>
    <p>Acerto: @Teste.NumeroAcertos </p>    
    <p>Erros: @Teste.NumeroErros </p>
    <p>Teste: @Teste.TesteOk </p>    
    <p style="color: Red"> @Teste.debug </p>
<hr>
    TesteUsuario.TesteAtualizaEmailUnico();
    <p>TesteUsuario.TesteAtualizaEmailUnico() </p>
    <p>Acerto: @Teste.NumeroAcertos </p>    
    <p>Erros: @Teste.NumeroErros </p>
    <p>Teste: @Teste.TesteOk </p>    
    <p style="color: Red"> @Teste.debug </p>
<hr>
    TesteUsuario.TesteAtualizaUsuarioEmailValido();
    <p>TesteUsuario.TesteAtualizaUsuarioEmailValido() </p>
    <p>Acerto: @Teste.NumeroAcertos </p>    
    <p>Erros: @Teste.NumeroErros </p>
    <p>Teste: @Teste.TesteOk </p>    
    <p style="color: Red"> @Teste.debug </p>
<hr>
    TesteUsuario.TesteAtualizarSenhaInvalido();
    <p>TesteUsuario.TesteAtualizarSenhaInvalido() </p>
    <p>Acerto: @Teste.NumeroAcertos </p>    
    <p>Erros: @Teste.NumeroErros </p>
    <p>Teste: @Teste.TesteOk </p>    
    <p style="color: Red"> @Teste.debug </p>
<hr>
    TesteUsuario.TesteAtualizarSenhaValido();
    <p>TesteUsuario.TesteAtualizarSenhaValido() </p>
    <p>Acerto: @Teste.NumeroAcertos </p>    
    <p>Erros: @Teste.NumeroErros </p>
    <p>Teste: @Teste.TesteOk </p>    
    <p style="color: Red"> @Teste.debug </p>
<hr>
    TesteUsuario.TesteValidarUsuarioEmailErrado();
    <p>TesteUsuario.TesteValidarUsuarioEmailErrado() </p>
    <p>Acerto: @Teste.NumeroAcertos </p>    
    <p>Erros: @Teste.NumeroErros </p>
    <p>Teste: @Teste.TesteOk </p>    
    <p style="color: Red"> @Teste.debug </p>
<hr>
    TesteUsuario.TesteValidarUsuarioSenhaErrada();
    <p>TesteUsuario.TesteValidarUsuarioSenhaErrada() </p>
    <p>Acerto: @Teste.NumeroAcertos </p>    
    <p>Erros: @Teste.NumeroErros </p>
    <p>Teste: @Teste.TesteOk </p>    
    <p style="color: Red"> @Teste.debug </p>
<hr>
    TesteUsuario.TesteValidarUsuarioValido();
    <p>TesteUsuario.TesteValidarUsuarioValido() </p>
    <p>Acerto: @Teste.NumeroAcertos </p>    
    <p>Erros: @Teste.NumeroErros </p>
    <p>Teste: @Teste.TesteOk </p>    
    <p style="color: Red"> @Teste.debug </p>
<hr>
}

