@{

    Layout="~/Layout.cshtml";

    Teste.PesquisaFeedComIDErrado();
    <p>Teste.PesquisaFeedComIDErrado()</p>
    <p>Acerto: @Teste.NumeroAcertos</p>
    <p>Erros: @Teste.NumeroErros</p>
    <p>Teste: @Teste.TesteOk</p>    
    <p style="color: Red">@Teste.debug</p>
<hr>
    Teste.PesquisaFeedComIDCerto();
    <p>Teste.PesquisaFeedComIDCerto()</p>
    <p>Acerto: @Teste.NumeroAcertos</p>
    <p>Erros: @Teste.NumeroErros</p>
    <p>Teste: @Teste.TesteOk</p>    
    <p style="color: Red">@Teste.debug</p>
<hr>
    Teste.PesquisaListaFeeds();
    <p>Teste.PesquisaListaFeeds()</p>
    <p>Acerto: @Teste.NumeroAcertos</p>
    <p>Erros: @Teste.NumeroErros</p>
    <p>Teste: @Teste.TesteOk</p>    
    <p style="color: Red">@Teste.debug</p>
<hr>
    Teste.PesquisaListaNenhumFeeds();
    <p>Teste.PesquisaListaNenhumFeeds()</p>
    <p>Acerto: @Teste.NumeroAcertos</p>
    <p>Erros: @Teste.NumeroErros</p>
    <p>Teste: @Teste.TesteOk</p>    
    <p style="color: Red">@Teste.debug</p>
<hr>
    Teste.SetaFeedInvalido();
    <p>Teste.SetaFeedInvalido()</p>
    <p>Acerto: @Teste.NumeroAcertos</p>
    <p>Erros: @Teste.NumeroErros</p>
    <p>Teste: @Teste.TesteOk</p>    
    <p style="color: Red">@Teste.debug</p>
<hr>
    Teste.SetaFeedValido();
    <p>Teste.SetaFeedValido()</p>
    <p>Acerto: @Teste.NumeroAcertos</p>
    <p>Erros: @Teste.NumeroErros</p>
    <p>Teste: @Teste.TesteOk</p>    
    <p style="color: Red">@Teste.debug</p>
<hr>
    Teste.SetaFeedJaSalvo();
    <p>Teste.SetaFeedJaSalvo()</p>
    <p>Acerto: @Teste.NumeroAcertos</p>
    <p>Erros: @Teste.NumeroErros</p>
    <p>Teste: @Teste.TesteOk</p>    
    <p style="color: Red">@Teste.debug</p>
<hr>
    Teste.AtualizaFeedInvalido();
    <p>Teste.AtualizaFeedInvalido()</p>
    <p>Acerto: @Teste.NumeroAcertos</p>
    <p>Erros: @Teste.NumeroErros</p>
    <p>Teste: @Teste.TesteOk</p>    
    <p style="color: Red">@Teste.debug</p>
<hr>
    Teste.AtualizaFeedValido();
    <p>Teste.AtualizaFeedValido()</p>
    <p>Acerto: @Teste.NumeroAcertos</p>
    <p>Erros: @Teste.NumeroErros</p>
    <p>Teste: @Teste.TesteOk</p>    
    <p style="color: Red">@Teste.debug</p>
<hr>
    Teste.AtualizaFeedInexistente();
    <p>Teste.AtualizaFeedInexistente()</p>
    <p>Acerto: @Teste.NumeroAcertos</p>
    <p>Erros: @Teste.NumeroErros</p>
    <p>Teste: @Teste.TesteOk</p>    
    <p style="color: Red">@Teste.debug</p>
<hr>
    Teste.ApagaFeedInexistente();
    <p>Teste.ApagaFeedInexistente()</p>
    <p>Acerto: @Teste.NumeroAcertos</p>
    <p>Erros: @Teste.NumeroErros</p>
    <p>Teste: @Teste.TesteOk</p>    
    <p style="color: Red">@Teste.debug</p>
<hr>
    Teste.ApagaFeedExistente();
    <p>Teste.ApagaFeedExistente()</p>
    <p>Acerto: @Teste.NumeroAcertos</p>
    <p>Erros: @Teste.NumeroErros</p>
    <p>Teste: @Teste.TesteOk</p>    
    <p style="color: Red">@Teste.debug</p>
<hr>
    Teste.ApagaFeedComProgramacao();
    <p>Teste.ApagaFeedComProgramacao()</p>
    <p>Acerto: @Teste.NumeroAcertos</p>
    <p>Erros: @Teste.NumeroErros</p>
    <p>Teste: @Teste.TesteOk</p>    
    <p style="color: Red">@Teste.debug</p>
<hr>
    Teste.ApagaFeedSemProgramacao();
    <p>Teste.ApagaFeedSemProgramacao()</p>
    <p>Acerto: @Teste.NumeroAcertos</p>
    <p>Erros: @Teste.NumeroErros</p>
    <p>Teste: @Teste.TesteOk</p>    
    <p style="color: Red">@Teste.debug</p>
}

